* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Segoe UI", sans-serif;
  background-color: #FFF06B;
  color: #8C51A5;
}

.wrapper {
  overflow-x: hidden;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bungee", "Roboto Slab", "Impact", sans-serif;
  text-transform: uppercase;
  line-height: 165%;
  padding: 0.702em 0;
}

p, footer, button, li {
  font-size: 1.266em;
  font-weight: 500;
}

b {
  font-weight: 700;
}

p {
  line-height: 1.42;
  margin-bottom: 1em;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3, .menu ul a {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small, .text_small {
  font-size: 0.889em;
}

header {
  display: flex;
  top: 0;
  width: 90vw;
  position: fixed;
  background-color: #FFF06B;
  justify-content: space-between;
  padding: 0 5vw;
  z-index: 100;
}

.logo {
  text-align: right;
  line-height: initial;
}

.menu-btn {
  background-color: inherit;
  color: #8C51A5;
  height: 1.802em;
  border: none;
  margin: auto 1em;
  outline: none;
}

.menu-btn img {
  width: auto;
  height: 1.802em;
}

.menu-btn:active {
  border: none;
}

.menu-btn:focus {
  border: none;
  background-color: #8C51A5;
  color: #FFF06B;
}

.menu-btn h1 {
  padding: 0;
}

.lang-btn {
  background-color: #FFF06B;
  font-size: 1.424em;
  width: 2em;
  height: 2em;
  margin: 0.2em;
  line-height: 1.2;
  color: #8C51A5;
  font-family: "Bungee", "Roboto Slab", "Impact", sans-serif;
  text-transform: uppercase;
  border: #8C51A5 solid 0.2em;
}

.lang-btn:hover {
  background-color: #8C51A5;
  color: #FFF06B;
}

.lang-btn:active {
  border: none;
}

.lang-btn:focus {
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 5vh 7.5vw;
  padding-top: 0;
  width: 85vw;
  min-height: 75vh;
}

section p {
  text-align: center;
  padding: 0.5em;
}

section li {
  font-size: 1.266em;
  margin-bottom: 1.266em;
}

section h1 {
  width: 100vw;
  left: -7.5vw;
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}

.counter-section {
  position: relative;
  overflow: hidden;
  z-index: 300;
  background-color: #FFF06B;
  padding-top: 10vh;
  padding-bottom: 9vh;
}

.counter {
  font-family: "Bungee", "Roboto Slab", "Impact", sans-serif;
  color: #36034D;
  font-size: 3em;
  text-align: center;
}

.start-section {
  z-index: 200;
  background-color: #FFF06B;
  height: 70vh;
  margin-bottom: 30vh;
}

.start-section h1 {
  font-size: 3em;
  padding: 3.7em 0 0;
}

.start-section h2 {
  color: #36034D;
  text-align: center;
}

.start-section h4 {
  font-family: "Montserrat", "Segoe UI", sans-serif;
  color: #000000;
  text-align: right;
}

/*
.slogans-section{
    background-color: $light-violet;
    color: $yellow;
    padding: 10vh 0;
    width: 300vw;
    text-align: center;   
}*/
.tale-section {
  background-color: #36034D;
  color: #FFFFFF;
  /*
    color: $orange;
    .slogan{
        background-color: $orange;
        color: $dark-violet;
        font-weight: 600;
        border-radius: 0.1em;
    }*/
}

.tale-section .slogan {
  color: #DCA414;
  font-weight: 600;
}

.dict-section {
  min-height: unset;
  padding-bottom: 0;
}

.dict-section h1 {
  margin-bottom: 0;
  font-size: 2.2em;
}

.p-2040 {
  border-radius: 0.5em;
}

.p-2040::before {
  content: "2040";
  display: block;
  position: relative;
  left: -2.2em;
  top: 2em;
  transform: rotate(270deg);
  font-size: 1.602em;
  width: 4ch;
  margin: 0;
  font-family: "Bungee", "Roboto Slab", "Impact", sans-serif;
}

.neutrality-section, .transformation-section, .education-section {
  background-color: #36034D;
  color: #FFF06B;
  padding-top: 5vh;
}

.neutrality-section h1, .transformation-section h1, .education-section h1 {
  background-color: #FFFFFF;
  color: #36034D;
}

.neutrality-section p, .neutrality-section b, .transformation-section p, .transformation-section b, .education-section p, .education-section b {
  color: #DCA414;
}

.neutrality-section .p-2040, .transformation-section .p-2040, .education-section .p-2040 {
  background-color: #8C51A5;
  color: #FFF06B;
}

.law-section, .energetics-section {
  background-color: #8C51A5;
  color: #FFF06B;
  padding-top: 5vh;
}

.law-section h1, .energetics-section h1 {
  background-color: #FFF06B;
  color: #8C51A5;
}

.law-section .p-2040, .energetics-section .p-2040 {
  background-color: #36034D;
}

.law-section p {
  padding-top: 1em;
}

.dreams-section {
  padding-top: 5vh;
  background-color: #FFF06B;
  color: #8C51A5;
}

.dreams-section h1 {
  background-color: #36034D;
  color: #FFFFFF;
}

.dreams-section h2 {
  color: #8C51A5;
}

.contact-section, .bibliography-section {
  background-color: #36034D;
  color: #DCA414;
}

.contact-section h1, .bibliography-section h1 {
  background-color: #8C51A5;
  color: #FFF06B;
}

.contact-section {
  min-height: auto;
}

.loading-container {
  background-color: #FFF06B;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 250;
  justify-content: center;
  align-items: center;
}

.loading {
  font-size: 5em;
}

footer {
  background-color: #36034D;
  color: #FFF06B;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 7.5vw;
}

.menu {
  position: fixed;
  overflow: hidden;
  z-index: 210;
  width: 87.5vw;
  height: 100vh;
  background-color: #FFF06B;
  color: #8C51A5;
  top: 0;
  left: 0;
  padding: 0 7.5vw 0 5vw;
}

.menu .menu-btn {
  margin-top: 2em;
  margin-bottom: 1em;
}

.menu ul {
  list-style: none;
  text-align: left;
  padding: 0;
  padding-left: 2.5vw;
}

.menu ul a {
  padding: 0.5em 0;
  font-family: "Bungee", "Roboto Slab", "Impact", sans-serif;
  text-transform: uppercase;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

p a, li a, figcaption a {
  font-style: italic;
}

p a:hover, li a:hover, figcaption a:hover {
  text-decoration: underline;
}

.lang-container {
  display: flex;
  justify-content: flex-end;
}

.svg-lines {
  width: 100vw;
  height: auto;
}

.content-img {
  width: 100%;
  border-radius: 0.5vmax;
  margin-bottom: 1em;
}

.social-icon-link {
  display: inline-block;
  border-radius: 0.5em;
  background-color: #FFFFFF;
  width: 4em;
  height: 4em;
  margin: 0.5em;
}

.social-icon-link:hover {
  background-color: #FFF06B;
}

.social-icon {
  width: 3em;
  height: 3em;
  padding: 0.5em;
}

figcaption {
  text-align: right;
}

@media (max-width: 355px) {
  .logo {
    font-size: 1.4em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 110%;
  }
  .counter {
    font-size: 4em;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 100%;
  }
  section p, section li {
    width: 50ch;
    max-width: 50vw;
    text-align: justify;
  }
  .start-section h1 {
    font-size: 4em;
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .content-img {
    align-self: flex-start;
    max-width: 35vw;
    object-fit: contain;
    max-height: 60vh;
    margin: 0 1em;
    margin-bottom: 1em;
  }
  .counter {
    font-size: 5em;
  }
  /*
    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, );
        gap: 10px;
    & h2{
        grid-column: span 6;
        grid-row: span 1;
    }
    p{
        grid-column: span 7;
        grid-row: span 1;
    }
    }*/
}
